body{
font-family:Arial, sans-serif;
margin:0;
line-height:1.8;
background:linear-gradient(135deg,#08142b,#0f2450,#1a3470);
color:white;
animation:fadePage 0.5s ease;
}

@keyframes fadePage{
from{
opacity:0;
filter:brightness(0);
}
to{
opacity:1;
filter:brightness(1);
}
}

.container{
max-width:1000px;
margin:auto;
padding:30px;
}

nav{
background:#050f25;
padding:15px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
font-size:20px;
font-weight:bold;
}

nav a:hover{
color:#ffd166;
}

h1{
font-size:44px;
text-align:center;
}

h2{
font-size:34px;
margin-top:40px;
}

p{
font-size:22px;
text-align:justify;
text-indent:40px;
}

img{
width:100%;
max-width:500px;
display:block;
margin:25px auto;
border-radius:12px;
}

.section{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:12px;
margin-top:30px;
}

/* comment */

.comment-box{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

.comment-box input,
.comment-box textarea{
padding:10px;
font-size:18px;
border-radius:8px;
border:none;
}

.comment-box textarea{
height:100px;
}

.comment-box button{
background:#4c6ef5;
color:white;
border:none;
padding:10px;
border-radius:20px;
cursor:pointer;
font-size:18px;
}

.comment{
background:rgba(255,255,255,0.1);
padding:15px;
border-radius:10px;
margin:10px auto;
max-width:700px;
}
